{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="../static/css/adminpage.css"> {% endblock %}

{% block title %} {{ name }} Page {% endblock %}

{% block content %}
    
    <h1>Registered List</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>email</th>
                <th>PhoneNumber</th>
                <th>typeuser</th>
                
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <th>{{user.fullname}}</th>
                <th>{{user.age}}</th>
                <th>{{user.email}}</th>
                <th>{{user.phonenumber}}</th>
                <th>{{user.typeuser}}</th>
                

            </tr>
            {% endfor %}



        </tbody>

    </table>




{% endblock %}